body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    position: relative;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.App-header {
    background-color: rgba(40, 44, 52, 0.8);
    /* Fondo semi-transparente */
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;
}

#chat {
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo semi-transparente */
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

#messages {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message {
    background-color: #e1ffc7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

#chat-form {
    display: flex;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}