<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="background-image"></div>
    <div class="App">
        <header class="App-header">
            <p>
                {{ message }}
            </p>
        </header>
        <div id="chat">
            <div id="messages"></div>
            <form id="chat-form">
                <input type="text" id="message-input" placeholder="Type your message here..." required>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>